*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;

    background:
    linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("../images/accountbg.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.accountContainer{
    width: 95%;
    max-width: 1300px;

    display: flex;

    border-radius: 30px;
    overflow: hidden;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(10px);

    box-shadow: 0px 10px 40px rgba(0,0,0,0.5);
}

/* LEFT SIDE */

.profileSide{
    width: 35%;

    background: rgba(255,255,255,0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px;

    color: white;
}

#profileImage{
    width: 180px;
    height: 180px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 25px;

    border: 5px solid white;
}

.profileSide h1{
    margin-bottom: 10px;
    font-size: 40px;
}

.profileSide p{
    color: #CBD5E1;
    margin-bottom: 30px;
}

#editBtn{
    padding: 14px 35px;

    border: none;
    border-radius: 14px;

    background: #38BDF8;

    color: black;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

#editBtn:hover{
    background: white;
    transform: scale(1.05);
}

/* RIGHT SIDE */

.infoSide{
    width: 65%;

    padding: 50px;

    color: white;
}

.infoSide h1{
    margin-bottom: 30px;
    font-size: 45px;
}

.infoBox{
    background: rgba(255,255,255,0.08);

    padding: 20px;

    border-radius: 18px;

    margin-bottom: 20px;

    transition: 0.3s;
}

.infoBox:hover{
    background: rgba(255,255,255,0.14);

    transform: translateY(-3px);
}

.infoBox h3{
    margin-bottom: 10px;

    color: #38BDF8;
}

.infoBox p{
    color: #E2E8F0;
}

#backBtn{
    width: 100%;

    display: block;

    text-align: center;

    margin-top: 30px;

    padding: 16px;

    border-radius: 14px;

    text-decoration: none;

    background: rgba(255,255,255,0.1);

    color: white;

    transition: 0.3s;
}

#backBtn:hover{
    background: white;
    color: black;

    transform: scale(1.02);
}

/* RESPONSIVE */

@media(max-width: 1000px){

    .accountContainer{
        flex-direction: column;
    }

    .profileSide,
    .infoSide{
        width: 100%;
    }

}